@import "_vars.scss";
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}

nav {
    padding: 10px;

}

a {
    padding: 10px;
    text-decoration: none;
    color:color(lightgreen);
}
